#root {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f52b3;
}

main {
    position: relative;
    padding: 1rem;
    width: 50vw;
    height: fit-content;
    background: #f1f1f1;
    border-radius: 12px;
    display: grid;
    grid-template-rows: repeat(5, auto);
}

#loader {
    /* position: absolute; */
    /* top: calc(50% - 24px); left: calc(50% - 24px); */
    aspect-ratio: 1 / 1;
    max-width: 48px;
    display: block;
    margin-inline: auto;
}

#forecast-icon {
    filter: drop-shadow(3px 3px 1px);
}

#minmax {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#minmax > * {
    display: inline-flex;
}

#desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.svg_arrow {
    height: 28px; width: 28px;
    fill: #1e1e1e;
}