@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=keyboard_arrow_down");
@import url("./stylesheet/utility-class.css");
@import url("./stylesheet/main.css");

:root {
    font-family: 'Lexend', 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #1e1e1e;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100dvh;
    width: 100vw;
}