@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url("./stylesheet/utility-class.css");
@import url("./stylesheet/main.css");

:root {
    font-family: 'Lexend', 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100dvh;
}